.footer-container {
  display: flex;
  height: 85px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 137, 248);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

span {
  color: white;
  text-decoration: none;
  transition: transform 250ms;
}

span:hover {
  color: #fd923a;
  transform: scale(1.05);
}

.media-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
}

a.social {
  text-decoration: none;
  color: #000; 
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
  color: #fd923a;
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #2b3e66;
}

a.twitter {
  color: #131313;
}

a.instagram {
  color: rgb(177, 0, 138);
}

.info-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(../images/cat02.jpg);
  background-size: cover;
  background-position: center;
}

.footer-info {
  max-width: 50%;
}

.info {
  margin: 0;
  padding: 20px;
  color: #131313;
  background-color: rgb(224, 224, 224);
  border-radius: 24px;
  opacity: 90%;
}