.home-page {
  display: flex;
  margin: auto;
  width: 100vw;
  color: rgb(54, 54, 54);
  flex-direction: column;
  flex-wrap: wrap;
}

.bg{
  background-color: rgb(188, 217, 255);
}

.search-container {
  display: flex;
  height: 150px;
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.banner-container{
  height: 450px;
  width: 100%;
}

.banner {
 border-radius: 24px;
  width: 800px;
  height: 250px;
  background-image: url(../images/bg-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -75px;
  margin: 180px auto;
  text-align: center;
}


.welcome {
  font-size: 20px;
  text-align: justify;
  margin: 5px 50px;
  color: #333;
}