.photo-details-modal {
  // position: relative;
  // display: flex;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 80%;
  overflow-y: scroll;
  border-radius: 12px;
}

.pet-image{
  border-radius: 10px;
  margin: 20px;
  border: 1px solid black;
}

.pet-image:hover {
  transform: scale(1.02);
}

.photo-list-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 15px;
}

.photo-details-modal__close-button {
  background-color: white;
  position: relative;
  right: 300px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  // margin-left: 16px;
  // margin-top: 16px;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-container{
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}