.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: fit-content;
  width: 35%;
  border-radius: 12px;
  color: white;
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pet-image{
  height: 280px;
  width: 280px;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid black;
}

.pet-image:hover {
  transform: scale(1.05);
}

.photo-list-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 15px;
}

.photo-details-modal__close-button {
  background-color: rgb(70, 70, 70);
  border: none;
  color: white;
  position: relative;
  top: 12px;
  right: 42%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
}

.contact-container{
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

