.pet-block {
  display: flex;
  justify-content: center;
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: rgb(121, 121, 121);
  border-style: solid;
  border-radius: 8px;
}

.pet-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: #cdd3df;
  box-shadow: 0 2px 8px 2px #2e2e2e;
}

.pet-card:hover{
  transform: scale(1.05);
}

.pet-card h2 {
  font-family: 'Chewy', cursive;
  display: flex;
  font-size: 20px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.pet-card {
  margin: 8px 0;
}

.pet-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 24px;
}


.available-pets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
