.search-bar {
  display: flex;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #000000;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin-right: 8px;
}

.search-bar button {
  background-color: #0069da;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.search-bar button:hover{
  color: black;
  transform: scale(1.1);
}

h1{
  margin-top: 100px;
}