
.top-nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
  box-shadow: 0 4px 6px -6px #222;
  height: 100px;
  width: calc(100% - 40px);
  background-color: rgb(47, 137, 248);
  z-index: 1;
}

.page-name {
  font-family: 'Chewy', cursive;
  font-size: 36px;
  color: #fd923a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-container a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #0069da;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.user-container a:hover {
  color: rgb(43, 43, 43);
  transform: scale(1.1);
}


.user h2 {
  margin: 0;
  padding: 10px;
  color: white;
}

.logout-btn {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}


.user-container a.login, .user-container a.signup {
  padding: 10px 20px;
  background-color: #0069da;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.user-container a.login:hover, .user-container a.signup:hover {
  background-color: #0049a5;
  transform: scale(1.1);
}
